body {
font-family: 'Raleway', 'Arial', 'sans-serif';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #000000;
}
header {
  display: grid;
  grid-template-columns: 1fr 138px 1fr;
  margin: 92px 24px 90px;
  font-size: 18px;
  align-items: center;
}
.header__menu {
  display: inline-flex;
  flex-direction: row;
  justify-content: end;
}
.header__links-list {
  list-style: circle;
  display: flex;
  align-items: center;
  margin-right: 41px;
}
.header__links-list-item {
  margin-left: 34px;
}
.header__links-list-item:first-child {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.header__links-lis-itemt ::marker {
  margin-right: 11px;
}
.header__link_active {
  text-decoration: none;
}
.header__logo {
  display: block;
  max-width: 138px;
}
.header__address {
 width: 240px;
 margin-left: 191px;
}
.cover {
  width: 1100px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  z-index: 1;
}
.overlay {
  position: absolute;
  inset:0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.cover__title {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 124%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 160px 50px 122px;
}
.aligned-text {
  display: block;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.no-letter-spacing {
  letter-spacing: 0;
}
.aligned-text_center {
  display: block;
  margin-left: 288px;
}
.aligned-text_right {
  display: block;
  text-align: right;
}
.cover__description {
  position: relative;
  z-index: 3;
  margin: 0 50px 180px 78px;
  word-spacing: 19px;
  letter-spacing:0.003em;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-bottom: 50px;
}
.cover__description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}
.bet-button {
  font-family: 'Raleway', 'Arial', 'sans-serif';
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 31px;
}
.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin-left: 62px;
}
.lots__card-list {
  margin: 25px 24px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}
.lots__card-list-item {
  list-style: none;
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
}
.card-link {
  text-decoration: none;
}
.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  z-index: -2;
}
.card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 51px 40px 0;
}
.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  padding: 0 40px 48px;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.lots__look-more-link {
  margin-left: 63px;
}
.about {
  margin: 25px 24px 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 146px;
}
.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 36px 72px 0 47px;
}
.about__logo-image {
  width: 148px;
}
.about__title {
  margin-top: 135px;
  margin-bottom: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}
.about__text p {
  margin-bottom: 25px;
}
.about__text p:last-child {
  margin-bottom: 0px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 180px 50px 88px;
}
.footer__address {
  width: 240px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.footer__links-list {
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}
.footer__link_active {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  list-style: none;
  gap: 48px;
  justify-content: space-between;
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}